@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --crimson: #dc143c;
  --slate: #434455;

}
.logo-link {
  list-style: none;
}
.logo-link {
  font-family: "Raleway";
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web {
  color: var(--iriscolor, #4d5ae5);
}
.studio {
  color: var(--navyblue, #2e2f42);
}
.navbar,
.pages {
  color: var(--navyblue, #2e2f42);
  /* Body Medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.lists {
  list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages .currentoption,
.contact-info .info:hover,
.contact-info .info:focus
   {color: var(--crimson);}

.contact-info .info
{color: var(--slate, #434455);
}